.uawb-featTtl{
  font-size: 25px;
}

.uawb-textarea{
  padding: 5px 10px;
  border: 1px solid silver;
  width: 90%;
  min-height: 60px;
  margin-bottom: 5px;
  font-family: sans, arial;
  border-radius: 2px;
}
.uawb-featList{
  padding: 10px;
  margin-top: 15px;
}
.uawb-featRecordItem{
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  padding: 5px 10px;
  margin-bottom: 10px;
  position: relative;
}
.uawb-btn-add{
  padding: 3px 10px;
  border: 1px solid royalblue;
  background-color: royalblue;
  color: white;
  border-radius: 2px;
  font-size: 13px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
.uawb-btn-add:hover{
  cursor: pointer;
  background-color: navy;
}
.uawb-recordActions{
  position: absolute;
  right: 10px;
  top: 5px;
}
.deleteIcon{
  color: crimson;
}
.deleteIcon:hover{
  cursor: pointer;
  color: red;
}
.ua-web-removing{
  background-color: rgba(100,0,0,0.1);
}
.uawb-time{
  color: grey;
  text-align: right;
  font-size: 12px;
}
.uawb-pretags{
  font-family: inherit;
  padding: 0px;
  margin: 0px;
}