body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 10px;
}
.dropDownContainer div {
    padding: 5px;
    cursor: pointer;
    padding-left: 10px;
    margin: 5px;
}

.dropDownContainer {
    box-shadow: 0px 2px 6px 0px lightgray;
    z-index: 9;
}

.dropDownContainer div:hover {
    background-color: whitesmoke;
}
.dropDownContainer {
    /* position: absolute; */
    width: 100%;
    z-index: 111111;
    background: white;
    margin-top: -2px;
}
div#selSnippet {
    padding: 10px;
    background-color: whitesmoke;
    cursor: pointer;
	color: #333;
	margin-top: 5px;
}

.template_content_holder{
	margin-top: 10px;
	padding: 10px;
}

/* i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  float: right;
} */

div#selSnippet.open i{
	transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.snippet_ttl{
	padding: 10px;
}

.snippet_added_text{
	display: none;
	color: green;
	padding: 10px;
	font-size: 14px;
}
#sms-form{
    width: unset;
}
.btn-input-autofill-popup{
   display: none;
}
.form-holder{
    border: none;
    padding: 0px;
}
.form-label{
    margin-top: 15px;
}
.form-title{
    display: none;
}
.error-window-outer{
    left: 5px;
}
.error-window-title{
    font-size: 18px;
}
.error-window-close{
    font-size: 14px;
    position: static;
    margin-top: 50px;
}
.error-window-close .material-icons{
    font-size: 14px;
    background-color: transparent;
    border: none;
}
input#input-to-phone::-webkit-input-placeholder {
    font-size: 11px;
}
.form-extra-action-dec {
    padding: 5px;
    color: navy;
    margin-bottom: -15px;
}
input#sms-to-ticket {
    transform: scale(1.5);
    margin: 0px 5px;
}

.to-recip-container{
    margin-top: 5px;
    box-shadow: inset 0px 0px 7px rgba(0,0,0,0.4);
    padding:5px 10px;
    max-height:100px;
    overflow: auto;
    min-height: 50px;
}
.rcp-mul-item{
    display :inline-block;
    font-size: 12px;
    border-radius: 10px;
    background-color:white;
    padding: 3px 10px;
    margin:3px 3px;
    position:relative;
    padding-right:25px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    color:rgb(50,50,50);
}
.rcpmi-close{
    float:right;
    padding:2px 7px;
    position:absolute;
    right:0px;
    top:0px;
    bottom:0px;
    background-color:crimson;
    color: white;
    border-radius:20px;
}
.rcpmi-num{
    font-size:10px;
    margin-left:5px;
}
.rcpmi-close:hover{
    cursor: pointer;
    background-color:red;
}
.to-recip-container:empty:after {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 36px;
    text-align: center;
    font-size: 14px;
    color: grey;
    content: "Add multiple numbers or select from contacts";
}
